* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: inherit;
}

body{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
* {
    padding: 0;
    margin: 0;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
}

.wrapper{
    overflow-x: hidden;
}

.container{
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
}

button{
    border: none;
    cursor: pointer;
}
