* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: inherit;
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
* {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    transition: color 0.5s;
}

a:hover {
    color: #417a82;
}

.wrapper {
    overflow-x: hidden;
    flex: 1 0 auto;
}

.box{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
