.promo {
    display: flex;
    align-items: flex-start;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header-main__hidden {
    display: none !important;
}

.header__main-container {
    padding: 36px 21px 25px;
    background-color: #f2f6f7;
    max-width: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    min-height: 100%;
}

.header__logo {
    margin-bottom: 44px;
}

.burger-menu {
    margin-bottom: 48px;
    position: relative;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    cursor: pointer;
}
.burger-menu::before,
.burger-menu::after,
.burger-menu div {
    height: 1px;
    width: 100%;
    background-color: #417a82;
}
.burger-menu div {
}
.burger-menu::before,
.burger-menu::after {
    content: "";
    position: absolute;
    left: 0;
}
.burger-menu::before {
    bottom: 0;
}
.burger-menu::after {
    top: 0;
}
.menu__link {
    display: block;
    font-size: 0;
}
.menu__item:not(:last-child) {
    margin-bottom: 16px;
}
.menu-wrap {
    margin-bottom: 199px;
}

.menu__link {
    text-align: center;
}

.header__search {
    position: relative;
    font-size: 0;
}
.search__inp {
    display: none;
    width: 0;
    overflow-x: hidden;
}

.promo-slider__wrap {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.promo-order {
    position: absolute;
    right: 103px;
    top: 56px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 100;
}

.promo-order-link {
    padding: 11px 24px;
    margin-right: 17px;
    background-color: #b84c74;
    text-transform: uppercase;
    color: #ffffff;
}

.promo-order-basket {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    position: relative;
}

.promo-order-basket img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.promo-slider__data-wrap {
    position: absolute;
    left: 88px;
    top: 168px;
    z-index: 605;
}

.promo-slider__head {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 78px;
    line-height: 100%;
    text-transform: uppercase;
    color: #052e4c;
    max-width: 520px;
    width: 100%;
}

.promo-slider__head span {
    font-style: italic;
    font-weight: 600;
}

.promo-slider__text {
    margin-bottom: 48px;
    max-width: 477px;
    font-weight: 400;
    font-size: 16px;
    color: #052e4c;
}

.promo-slider__data-btn {
    padding: 11px 24px;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #052e4c;
}

.promo-slider {
    width: 100%;
    position: relative;
    z-index: 6;
}

.promo-slider__btn {
    display: block;
    position: relative;
}

.promo-slider__img {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
    min-height: 800px;
}

.promo-slider__btn-wrap {
    position: absolute;
    bottom: 53px;
    left: 88px;
    max-width: 73px;
    width: 100%;
    height: 23px;
}

.promo-slider__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    --swiper-navigation-size: 0;
    z-index: 100;
}

.promo-slider__pagination{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    color: #052E4C;
}

.promo-slider__prev {
    left: 0;
    right: auto;
}

.promo-slider__next {
    right: 0;
    left: auto;
}

.swiper-button::before,
.swiper-button::after {
    display: none;
}
