.promo {
    display: flex;
    align-items: flex-start;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.header {
    /* position: relative; */

}


.header__main-container {
    padding: 36px 21px 25px;
    background-color: #f2f6f7;
    max-width: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    min-height: 100%;
}

.header__logo {
    margin-bottom: 44px;
}

.burger-menu {
    margin-bottom: 48px;
    position: relative;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu div {
    height: 1px;
    width: 100%;
    background-color: #417a82;
}

.burger-menu div {}

.burger-menu::before,
.burger-menu::after {
    content: "";
    position: absolute;
    left: 0;
}

.burger-menu::before {
    bottom: 0;
}

.burger-menu::after {
    top: 0;
}

.menu__link {
    display: block;
    font-size: 0;
}

.menu__item:not(:last-child) {
    margin-bottom: 16px;
}

.menu-wrap {
    margin-bottom: 199px;
}

.menu__link {
    text-align: center;
}

.header__search {
    position: relative;
    font-size: 0;
}


.search__inp--hide {
    display: none;
    width: 0;
    overflow-x: hidden;
}

.promo-slider__wrap {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.promo-order {
    position: absolute;
    right: 103px;
    top: 56px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 100;
}

.promo-order-link {
    padding: 9px 24px;
    margin-right: 17px;
    background-color: #b84c74;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    line-height: 20px;
}

.promo-order-basket {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    position: relative;
}

.promo-order-basket img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.promo-slider__data-wrap {
    position: absolute;
    left: 88px;
    top: 168px;
    z-index: 605;
    font-family: "PT Sans", sans-serif;
}

.promo-slider__head {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 78px;
    line-height: 100%;
    text-transform: uppercase;
    color: #052e4c;
    max-width: 560px;
    width: 100%;
    font-family: "Cormorant", serif;
}

.promo-slider__head span {
    font-style: italic;
    font-weight: 600;
}

.promo-slider__text {
    margin-bottom: 48px;
    max-width: 477px;
    font-weight: 400;
    font-size: 16px;
    color: #052e4c;
}

.promo-slider__data-btn {
    padding: 11px 24px;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #052e4c;
}

.promo-slider {
    width: 100%;
    position: relative;
    z-index: 6;
}

.promo-slider__btn {
    display: block;
    position: relative;
}

.promo-slider__img {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
    min-height: 800px;
}

.promo-slider__btn-wrap {
    position: absolute;
    bottom: 53px;
    left: 88px;
    max-width: 73px;
    width: 100%;
    height: 23px;
}

.promo-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    --swiper-navigation-size: 0;
    z-index: 100;
}

.promo-slider__pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    color: #052E4C;
    font-weight: 400;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
}

.promo-slider__prev {
    left: 0;
    right: auto;
}

.promo-slider__next {
    right: 0;
    left: auto;
}

.swiper-button::before,
.swiper-button::after {
    display: none;
}



.header-main__hidden {
    padding: 31px 24px 29px;
    min-width: 224px;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 10000;
    background-color: #FEFEFE;
    align-items: flex-start;
    overflow-y: auto;
}

.hidden-menu__wrap {
    margin-bottom: 62px;
}

.hidden-menu__contact {
    margin-bottom: 24px;
    color: #417A82;
    width: 100%;
    text-align: center;
}

.hidden-menu__logo {
    display: block;
    width: 100%;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #417a82;
    font-family: "PT Sans", sans-serif;
}

.hidden-menu__contact-name {
    margin-bottom: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
}

.hidden-menu__tel {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #417a82;
    display: block;
}

.menu__link-text {
    display: inline-block;
    margin-left: 16px;
    font-weight: 400;
    font-size: 13px;
    color: #417a82;
}

.hidden-menu__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.menu__link-text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
}

.menu__link-text--color {
    color: #B84C74;
}

.hidden-menu__search {
    margin-bottom: 32px;
    width: 100%;
    position: relative;
}

.hidden-menu__inp {
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 10px 5px;
    padding-left: 43px;
    border-radius: 20px;
    border: 1px solid #417A82;
    font-size: 13px;
    outline: none;
}

.hidden-menu__inp::placeholder {
    font-weight: 400;
    font-size: 13px;
    color: #417a82;
    font-family: "PT Sans", sans-serif;
}

.hidden-menu__search::before {
    content: "";
    height: 19px;
    width: 16px;
    background-image: url(../img/search-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.navigation-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.navigation-list__link {
    color: #417a82;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.popular {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.popular__inner {
    padding-right: 160px;
    padding-top: 191px;
    max-width: 1368px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: #417A82;
    position: relative;
}

.popular__inner::before {
    content: 'Популярное';
    font-style: italic;
    font-weight: 400;
    font-size: 300px;
    line-height: 185px;
    letter-spacing: -0.03em;
    color: #fff;
    font-family: "Cormorant Infant", serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 2;
    opacity: 0.05;
}

.popular__inner::after {
    content: "";
    width: 160px;
    height: 100%;
    background-color: #052E4C;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.popular__items {
    max-width: 1120px;
    position: relative;
    z-index: 5;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    display: grid;
    grid-template-columns: minmax(auto, 308px) minmax(auto, 308px) minmax(auto, 504px);
}

.popular__item {
    padding-top: 40px;
    padding-left: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 240px;
    display: block;
}

.popular__item-grids-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../img/popular1.jpg);
}

.popular__item-grids-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: 480px;
    background-image: url(../img/popular2.jpg);
}

.popular__item-grids-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../img/popular3.jpg);
}

.popular__item-grids-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../img/popular4.jpg);
}

.popular__item-title {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    color: #052e4c;
    font-family: "Cormorant Infant", serif;
}

.popular__item-title span {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #052e4c;
}

.popular__item-title--strong {
    font-weight: 700;
}

.popular__item-title--color {
    color: #ffffff;
}